.col-2
.col-2
.col-8{
    height: 60rem;
}

#ul1 {
    list-style-type: none; 
    }

    #collumnSx{
        background-color: #000000;
    }

    #collumnDx{
        background-color: #000000;
       
    }
    hr{
        background-color: #141414;
    }
.container{
   
    font-weight: 20px;
    color: white;
}


.bg-test{
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url('./assets/prove/maxresdefault.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.text-1{
font-size: 120px;
    font-weight: 700;
}

                   
.centered {
    position: absolute;
    bottom: 8px;
    left: 2%;
    
    
  }
  .cent {
    position: absolute;
    bottom: 48%;
    left: 2%;
    

  }
  .spect { font-weight: bold;
margin-bottom: 10px;
font-size: 1rem;
display: inline-block;
margin-bottom: 20px;
margin-top: 1px;

}
.icona {

display:inline-block;
margin-left:3.5%;
margin-top:3%;


}
.button2 {
 
    display: inline-block;
    margin-left:3.5%;
margin-top:3%;
background-color: transparent;
border: 1px solid white;
border-radius: 10px;
padding-bottom: 0px;
padding-left: 12px;
padding-right: 12px;
margin-bottom: 1px;
margin-top: 1px;
color: white;
margin-right:30px;
}
.play-button {
    width: 50px;
    height: 50px;
    background-color: #1DB954; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.play-icon {
    fill: black; 
}
.play-button:hover {
    opacity: 0.8;
}
/* li img {
    width:50px;
    height:50px;
} */
p img {
    width:80px;
    height:80px;
    border-radius: 50%;
}
.song-item {
    display: flex;
    align-items: center;
}
.song-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.song-item .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
li span:not(:first-child)  { opacity: 50%;}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  
  .duration-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 60px; 
  }
  
  .duration-span {
    text-align: right;
    opacity: 50%;
  }



  .scrollbarL{
    width: 300px;
    height: 540px;
    overflow: auto;
    scrollbar-color: #4d4d4d #000000;

}

.scrollbarC{
    height: 849px;
    overflow: auto;
    scrollbar-color: #4d4d4d #000000;


}
.img-bar{
    width: 20px;
    height: 20px;
}
.img-music{
    width: 77px;
    height: 77px;
}
#fixed {
   
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-width: 768px;
   
    bottom: 0px;
    border-top-width: 1px;
    border-top-style: solid;
  
    height: var(--layout-player-height);
    left: 0px;
  
    position: fixed;
    right: 0px;
    z-index: 300;
}
.navbar{
    background-color: #161616;
    
    margin-left: auto;

}
.timer {
    position: absolute;
left: 38%;
top: 49%;

    width: 350px;
height: 10px;
border: 1px solid transparent;
border-radius: 20px;
background-color: #4d4d4d;
}

.timer1 {
    position: relative;
left: 0%;
top: 0%;

    width: 100px;
height: 9px;
border: 1px solid transparent;
border-radius: 20px;
background-color: white;
}
.timer2 {
    position: absolute;
left: 89%;
top: 47%;

    width: 150px;
height: 10px;
border: 1px solid transparent;
border-radius: 20px;
background-color: #4d4d4d;
}
