html, body {
    background-color: #000000;
    margin: 0;
}

#page{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#ul1 {
    list-style-type: none;
    }
li{
    cursor: pointer;
}
img{
    cursor: pointer;
}
svg{
    cursor: pointer;
}

.albumColCen{

    background: linear-gradient(90deg,#060606,#121212,#151515,#1B1B1B);
    

}
#card6{
    margin-top: 22px; 
}
.btnSalva{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    background-color: #00000000;
    padding: 10px 30px;
    border: solid #b0aeae 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    transition : 0ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
}

.btnSalva:hover{
cursor: pointer;
}
.btnPlay{
    font-size: 13px;
    color: #000000;
    background-color: #1ed760;
    padding: 10px 30px;
    border: solid #1ed760 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    transition : 0ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.btnPlay:hover{
    cursor: pointer;
    color: #1ed760;
    background-color: #1ed760;
    } 

    .btnAnnunci{
        font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 13px;
color: #818181;
background-color: #383838;
padding: 10px 30px;
border: none;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

#imgAlbumCentr{
    width: 216px;
    margin-left:0;
}
.imgBtn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

  .freccie-container{
    display: flex; /* *spostamento nella stessa asse */
    gap: 10px; /* *Spazio tra le frecce */
  }

  .freccie{
    background-color: #000000; /** Colore di sfondo del cerchio */
    border-radius: 50%; /* *Forma tonda */
    padding: 8px; /** Spazio interno */
    width: 30px; /** Larghezza del cerchio */
    height: 30px; /** Altezza del cerchio */
  }

  .freccie svg {
    color: #ffffff; /** Colore dell'icona */
  }
  

.cardCenSix{
    background-color: #2a2a2a;
    border-radius: 2%;

}

#cardsLatDx{
    /* background-color: #2a2a2a */
    border-radius: 2%;
}

.card {
    border: none;
    object-fit: cover;
    padding: 0;

}

#collumnSx{
    background-color: #000000;
    height: 100vh;
}

hr{
    background-color: #141414;
}

.scrollbar{
    width: 300px;
    height: 527px;
    overflow: auto;
    scrollbar-color: #4d4d4d #000000;

}
#collumnDx{
    background-color: #000000;
    height: 100vh;
    
}

.scrollbarDx{
    width: 300px;
    height: 772px;
    overflow: auto;
    scrollbar-color: #4d4d4d #000000; 
}


.imgCardColDx {
    border-radius: 50%;
    width: 38px;
}

.contImgSx{
width: 50px;
}

.contTextDx{
    width: 242px;
    
}

.contTextInt{
height: 80px;
}
#collumnCentr{
background-color: #161616;

}
.scrollbarC{
    height: 849px;
    overflow: auto;
    scrollbar-color: #4d4d4d #000000;

}


.navbar{
    background-color: #161616;
    height:75px ;
    margin-left: auto;

}
.ul2{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

 #friends{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
 }

.prova{
display: block;

}
.cardImg{
    object-fit: fill;
    display: block;
    width: 100%;
    height: 100%;
}

#imgSix{
    width:100px;
    height:100%;
    object-fit: cover;
    

}

.img-bar{
    width: 20px;
    height: 20px;
}
.img-music{
    width: 77px;
    height: 77px;
}
#fixed {
   
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-width: 768px;
   
    bottom: 0px;
    border-top-width: 1px;
    border-top-style: solid;
  
    height: var(--layout-player-height);
    left: 0px;
  
    position: fixed;
    right: 0px;
    z-index: 300;
}
.navbar{
    background-color: #161616;
    
    margin-left: auto;

}
.timer {
    width: 100%;
    height: 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #4d4d4d;
    margin-right: 10px;
    margin-top: 8px;
    margin-left: -37px;
}
.timer1 {
   
left: 0%;
top: 0%;

    width: 15%;
height: 9px;
border: 1px solid transparent;
border-radius: 20px;
background-color: white;
}
.timer2 {
  
left: 89%;
top: 47%;
margin-left: 20px;
    width: 20%;
height: 10px;
border: 1px solid transparent;
border-radius: 20px;
background-color: #4d4d4d;
}
.col-1 {
  width: auto;
}
@media (max-width: 992px) {
  #musicNav {
      display: none;
  }
}
