#page{
    width: 100%;
}

#ul1 {
    list-style-type: none;
    }

#card6{
    height: 100px;
    width: 400px;
}

 #card5{
    height: 250px;
}

#collumnSx{
    background-color: #000000;
}

hr{
    background-color: #141414;
}

